html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

html {
  position: relative;
}

body {
  margin-bottom: 60px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    padding-bottom: 50px;
}
